<%= link_to topic_path(topic), data: { turbo:false } do %>
<div class="bg-white hover:shadow-md border border-gray-200 rounded-xl shadow-sm transition mb-4 py-5 px-5">
  <div class="grid grid-cols-[30px_1fr_95px] gap-2">
    <div class="flex items-center">
      <%= render "logo", count: topic_counter %>
    </div>
    <div class="flex flex-wrap space-x-1">
      <% if topic.genres.present? %>
      <% topic.genres.each do |genre| %>
      <span class="text-xs px-2 py-1 mb-1 rounded-full bg-[#E0F2FE] text-[#0369A1]"><%= genre.name %></span>
      <% end %>
      <% else %>
      <p class="text-[#0369A1]">ジャンル未設定</p>
      <% end %>
    </div>
    <div class="items-center justify-end text-right">
      <span><%= l topic.published_at, format: :date %></span>
    </div>
    <div class="col-span-2 col-start-2">
      <span class="text-xl font-medium"><%= topic.title %></span>
    </div>
    <div class="col-start-2 flex items-center space-x-2">
      <div class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
        <%= topic.user.decorate.avatar_display? %>
      </div>
      <p class="user-name text-lg"><%= topic.user.name %></p>
    </div>
    <div class="flex space-x-4">
      <div class="flex items-center justify-end space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999">
          <path d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z" />
        </svg>
        <span class="text-[#999999]"><%= topic.answers_count %></span>
      </div>
      <div class="flex items-center justify-end space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#EA3323">
          <path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
        </svg>
        <span class="text-info text-2xl"><%= topic.likes_count %></span>
      </div>
    </div>
  </div>
</div>
<% end %>