<%= turbo_frame_tag "user_information" do %>
<div class="bg-white pb-8 space-y-6">
  <div class="text-center">
    <h2 class="text-2xl font-bold text-gray-800">ユーザー編集</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div id="user_edit_flash"></div>
  <div class="field mb-5">
    <%= f.label :name, "ユーザー名", class: "block text-sm font-medium text-gray-700 mb-3" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "username", class: "input input-info text-base w-full rounded-xl border-gray-200" %>
  </div>

  <div class="field mb-5">
    <%= f.label :email, "メールアドレス", class: "block text-sm font-medium text-gray-700 mb-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-info text-base w-full rounded-xl border-gray-200"%>
  </div>

  <div class="field mb-5">
    <%= f.label :genre_names, "好き・得意ジャンル(区切りはスペース カンマ、スラッシュ/)", class: "block text-base font-medium text-gray-700" %>
    <span class="text-sm pl-2 opacity-50">例：Tatoe お題 例え　RUNTEQ,プログラミング,スクール　Ruby/MySQL/React など</span>
    <%= f.text_field :genre_names, class: "input input-info text-base w-full rounded-xl border-gray-200 mt-1", value: @user.edit_genre_names_form %>
  </div>
  <div class="actions">
    <%= f.submit "変更", class: "btn w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white font-semibold rounded-xl" %>
  </div>
  <% end %>
</div>
<% end %>