<% content_for(:title, "パスワード変更") %>
<div class="pt-5 pb-15 px-2">
  <div class="bg-white shadow-lg rounded-2xl w-full py-8 px-4 space-y-6">
    <div class="text-center mb-5">
      <h2 class="text-2xl font-bold text-gray-800">パスワード変更</h2>
    </div>

    <%= form_with model: current_user, url: users_update_password_path, method: :patch do |f| %>
    <%= render "devise/shared/error_messages", resource: current_user %>

    <div class="field mb-5">
      <%= f.label :current_password, "現在のパスワード", class: "block text-sm font-medium text-gray-700 mb-3" %>
      <%= f.password_field :current_password, autofocus: true, autocomplete: "current_password", class: "input input-info text-base w-full rounded-xl border-gray-200"%>
    </div>

    <div class="field mb-5">
      <%= f.label :password, "新しいパスワード", class: "block text-sm font-medium text-gray-700 mb-3" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "password", class: "input input-info text-base w-full rounded-xl border-gray-200"%>
    </div>

    <div class="field mb-5">
      <%= f.label :password_confirmation, "新しいパスワードを再度入力", class: "block text-sm font-medium text-gray-700 mb-3" %>
      <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "password_confirmation", class: "input input-info text-base w-full rounded-xl border-gray-200"%>
    </div>

    <div class="actions">
      <%= f.submit "変更", class: "btn w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white font-semibold rounded-xl" %>
    </div>
    <% end %>

  </div>
</div>