<%= form_with model: topic do |f| %>
<div id="<%="topic_#{topic.id}_flash"%>"></div>
<!-- タイトル -->
<div class=" mb-5">
  <%= f.label :title, "お題タイトル", class: "block text-base font-medium text-gray-700" %> <span class=" text-sm pl-2 opacity-50">例:Tatoeをあなたの「得意ジャンル」で例えると？</span>
  <%= f.text_area :title, autofocus: true, class: "textarea textarea-info text-base w-full rounded-xl border-gray-200 mt-1", data: { topic_target: "title" } %>
</div>

<!-- お題の説明 -->
<div class="mb-5">
  <%= f.label :description, "お題の説明 (任意)", class: "block text-base font-medium text-gray-700" %>
  <span class="text-sm pl-2 opacity-50">例：知らない趣味や考え方を、ちょっとだけ理解できるアプリ「Tatoe」。あなたの得意な分野で、わかりやすく例えてみましょう！</span>
  <%= f.text_area :description, class: "textarea textarea-info text-base w-full rounded-xl border-gray-200 mt-1", data: { topic_target: "description" } %>
</div>

<!-- ジャンル選択 -->
<div class="mb-5" data-controller="autocomplete" data-autocomplete-url-value="/topics/autocomplete">
  <%= f.label :genre_names, "お題ジャンル", class: "block text-base font-medium text-gray-700" %>
  <span class="text-sm pl-2 opacity-50">単語を入力して選択、または登録</span>
  <div data-autocomplete-target="flash"></div>
  <div class="flex flex-wrap space-x-2" id="labels-area" data-autocomplete-target="labels">
    <% if @topic.genres.present? %>
      <% @topic.genres.each do |genre| %>
        <button type="button" class="bg-[#E0F2FE] hover:bg-[#ACCDE2] cursor-pointer text-[#0369A1] text-lg px-2 py-1 rounded-full mb-2" id="<%="genre-#{genre.id}"%>" data-action="click->autocomplete#onDeleteGenre"><%= "#{genre.name}  ✕"%></button>
      <% end %>
    <% end %>
  </div>
  <input type="text" class="input input-info text-base w-full rounded-xl border-gray-200 mt-1" data-topic-target="genres" data-autocomplete-target="input" />
  <div id="hidden-area" data-autocomplete-target="hidden">
    <% if @topic.genres.present? %>
      <% @topic.genres.each do |genre| %>
       <input type="hidden" name="topic[genre_names][]" id="<%="genre-#{genre.id}"%>" value="<%="#{genre.name}"%>" />
      <% end %>
    <% end %>
  </div>
  <ul class="list-group mt-2" data-autocomplete-target="results">
  </ul>
</div>

<!-- ヒント -->
<div class="mb-5">
  <p class="block text-base font-medium text-gray-700">ヒント(任意・最大3つ)</p>
  <span class="text-sm pl-2 opacity-50">例:コミュニケーションのきっかけになる<br>　　知らなかったことが少し身近に感じるように<br>　　理解を深める学習ツールとしても使える</span>
  <% @topic.hints.each_with_index do |hint,i| %>
  <%= f.fields_for :hints, hint do |f| %>
  <%= f.text_field :body, placeholder: ["ヒント1", "ヒント2", "ヒント3"][i], class: "input input-info text-base w-full mb-2 rounded-xl border-gray-200", data: { topic_target: "hint_#{i+1}" } %>
  <% end %>
  <% end %>
</div>

<!-- 送信ボタン -->
<%= f.submit "お題を作成", class: "w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-4 text-lg font-semibold rounded-xl shadow-lg" %>
<% end %>
