<div class="bg-white rounded-xl shadow-sm transition">
  <div class="hover:shadow-md transition shadow-2xs rounded-t-lg p-3">
    <%= link_to topic_path(topic), data: {turbo: false} do %>
    <div class="flex justify-between items-center mb-2">
      <div class="flex flex-wrap space-x-1 space-y-1">
        <% if topic.genres.present? %>
        <% topic.genres.each do |genre| %>
        <span class="text-xs px-2 py-1 rounded-full bg-[#E0F2FE] text-[#0369A1]"><%= genre.name %></span>
        <% end %>
        <% else %>
        <p class="text-[#0369A1]">ジャンル未設定</p>
        <% end %>
      </div>
      <div class="flex items-center space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999">
          <path d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z" />
        </svg>
        <span class="text-[#999999]"><%=topic.answers.size%></span>
      </div>
    </div>
    <div>
      <h2 class="text-base font-medium text-gray-800 mb-2 topic-title"><%= topic.title %></h2>
    </div>
    <div class="flex justify-between items-center mr-3">
      <span class="text-xs text-gray-500 published-at"><%= l topic.published_at %></span>
      <span class="text-[#8ecaf2] text-xl font-medium">詳細</span>
    </div>
    <% end %>
  </div>
  <div class="flex justify-between text-xs text-gray-500 px-4 py-2">
    <div class="flex items-center space-x-2">
      <div class="relative">
        <div class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
          <%= topic.user.decorate.avatar_display? %>
        </div>
      </div>
      <p class="user-name text-lg"><%= topic.user.name %></p>
    </div>
    <div class="flex items-center space-x-1">
      <% if current_user && current_user.own?(topic) %>
      <div class="flex justify-between space-x-1">
        <%= render "topics/edit-delete_button", topic: topic %>
      </div>
      <% else %>
      <% if user_signed_in? %>
      <div class="flex items-center space-x-2">
        <% if current_user.likes.exists?(likeable_type: "Topic", likeable_id: topic.id) %>
        <%= render "likes/unlike", object: topic, type: "Topic" %>
        <% else %>
        <%= render "likes/like", object: topic, type: "Topic" %>
        <% end %>
        <% end %>
        <span id=<%="Topic_#{topic.id}_size"%> class="text-lg text-[#999999]"><%=topic.likes.size%></span>
      </div>
      <% end %>
    </div>
  </div>
</div>