<div class="space-y-4 mb-3">
  <%= link_to topic do %>
  <div class="bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition">
    <div class="flex justify-between items-center mb-2">
      <div>
        <% topic.genres.each do |genre| %>
        <span class="text-xs px-2 py-1 rounded-full bg-[#E0F2FE] text-[#0369A1]"><%= genre.name %></span>
        <% end %>
      </div>
      <span class="text-xs text-gray-500"><%= l topic.published_at %></span>
    </div>
    <h2 class="text-sm font-medium text-gray-800 mb-2"><%= topic.title %></h2>
    <div class="flex justify-between text-xs text-gray-500">
      <div class="flex items-center space-x-2">
        <p><%= topic.user.name %></p>
      </div>
      <div class="flex items-center space-x-1">
        <svg class="w-4 h-4 text-red-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        <span>いいね(未実装)</span>
      </div>
    </div>
  </div>
  <% end %>
</div>