<%= turbo_frame_tag dom_id(answer) do %>
<div class="mb-4">
  <div class="bg-white py-4 px-2 rounded-xl shadow-sm answer-item space-y-2">
    <div class="flex justify-between">
      <!-- アバター、ユーザー名 -->
      <div class="flex items-center space-x-2">
        <div class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
          <%= answer.user.decorate.avatar_display? %> </div>
        <span class="text-lg text-gray-700"><%= answer.user.name %></span>
      </div>
      <!-- 公開日付、リアクション数 -->
      <div>
        <div class="mb-1"><%= l answer.published_at %></div>
        <!-- リアクション数 -->
        <div class="flex justify-end space-x-3">
          <% @reactions.each do |reaction| %>
          <div class="flex space-x-1">
            <%= render "shared/reaction_icons", reaction: reaction %>
            <span id=<%="reaction_count_answer_#{answer.id}_reaction_#{reaction.id}"%>><%= answer.decorate.reactions_count(reaction.id) %></span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- 例え本文(例え、説明文) -->
    <div id=<%="answer_#{answer.id}_flash"%>></div>
    <div class="bg-gray-50 rounded-xl p-3 mb-3">
      <p class="text-gray-800 font-medium mb-2">💡 <%= answer.body %></p>
      <% if answer.reason.present? %>
      <p class="text-sm text-gray-600"><%= simple_format(answer.reason) %></p>
      <% end %>
      <% if comment_button %>
      <div class="flex justify-end mt-2">
        <%= button_to topic_answer_path(topic,answer), method: :get, data: { turbo_frame: "_top" } , class: "btn btn-outline btn-accent rounded-xl" do%>
        <span><%= "#{answer.comments_count} コメント" %></span>
        <% end %>
      </div>
      <% end %>
    </div>
    <!-- ボタン -->
    <div class="flex flex-wrap justify-end space-y-2">
      <!-- 認証済みかつ、例えが自分投稿の場合 -->
      <% if current_user && current_user.own?(answer) %>
      <!-- 編集ボタン -->
      <div class="flex space-x-1 ml-2">
        <%= button_to edit_topic_answer_path(topic, answer), method: :get, class: "btn btn-outline btn-info rounded-xl" do %>
        <span>編集</span>
        <% end %>
        <!-- 削除ボタン -->
        <%= button_to topic_answer_path(topic, answer),  method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？", turbo_submits_with: "削除中..."}, class: "btn btn-outline btn-error rounded-xl" do %>
        <span>削除</span>
        <% end %>
      </div>
      <!-- 本人以外の場合 -->
      <% else %>
      <!-- 認証済みかどうか -->
      <% if user_signed_in? %>
      <div class="flex space-x-1 ml-2">
        <% @reactions.each do |reaction| %>
        <% if current_user.answer_reactions.exists?(answer_id: answer.id, reaction_id: reaction.id) %>
        <%= render "answer_reactions/unanswer_reaction", answer: answer, reaction: reaction %>
        <% else %>
        <%= render "answer_reactions/answer_reaction", answer: answer, reaction: reaction %>
        <% end %>
        <% end %>
      </div>
      <% end %>
      <% end %>
      <!-- シェアボタン -->
      <%= link_to OgpCreatorService.x_share_encode(answer), target: :_blank, rel: :noopener, class: "btn bg-black text-white border-black rounded-xl ml-2" do %>
      <svg aria-label=" X logo" width="16" height="12" viewBox="0 0 300 271" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z" />
      </svg>
      シェア！
      <% end %>
    </div>
  </div>
</div>
<% end %>