<% if flash[:notice] %>
  <%= turbo_stream.update "new_answer" do %>
    <%= link_to "例えを投稿！", new_topic_answer_path(@topic), class: "block mt-4 w-full text-center bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white font-medium text-xl px-4 py-2 rounded-xl" %>
  <% end %>
  <%= turbo_stream.replace "answers_size" do %>
    <span id="answers_size" class="text-[#999999]"><%=@topic.answers.size%></span>
  <% end %>
  <% if @topic.answers.size == 1 %>
    <%= turbo_stream.replace "not_answer" do %>
      <div id="<%="topic_answer_#{@answer.id}"%>">
        <div id="alert" class="alert alert-info justify-center mb-2">
          <%= notice %>
        </div>
        <%= render "shared/answer", answer: @answer, topic: @topic, comment_button: true %>
      </div>
    <% end %>
  <% else %>
    <%= turbo_stream.prepend "topic_answers" do %>
      <div id="<%="topic_answer_#{@answer.id}"%>">
        <div id="alert" class="alert alert-info justify-center mb-2">
          <%= notice %>
        </div>
        <%= render "shared/answer", answer: @answer, topic: @topic, comment_button: true %>
      </div>
    <% end %>
  <% end %>

<% elsif flash[:alert] %>
  <%= turbo_stream.replace "answer_form_flash" do %>
    <div id="answer_form_flash" class="alert alert-error mb-3">
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
