<%= turbo_frame_tag dom_id(@answer) do %>
<%= form_with model: [@topic, @answer] do |f| %>
<div class="mb-4">
  <div id=<%="answer_#{@answer.id}_flash"%>></div>
  <div class="bg-white py-4 px-2 rounded-xl shadow-sm answer-item space-y-2">
    <div class="flex justify-between">
      <!-- アバター、ユーザー名 -->
      <div class="flex items-center space-x-2">
        <div class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
          <%= @answer.user.decorate.avatar_display? %> </div>
        <span class="text-lg text-gray-700"><%= @answer.user.name %></span>
      </div>
      <!-- 公開日付、リアクション数 -->
      <div>
        <div class="mb-1"><%= l @answer.published_at %></div>
        <!-- リアクション数 -->
        <div class="flex justify-end space-x-3">
          <% @reactions.each do |reaction| %>
          <div class="flex space-x-1">
            <%= render "shared/reaction_icons", reaction: reaction %>
            <span id=<%="reaction_count_answer_#{@answer.id}_reaction_#{reaction.id}"%>><%= @answer.answer_reactions.where(reaction: reaction).count %></span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 rounded-xl p-3 mb-3">
      <div id="error_message"></div>
      <div class="mb-5">
        <%= f.label :body, "例えるなら...", class: "block text-sm font-medium text-gray-700 mb-3" %>
        <%= f.text_field :body, autofocus: true, class: "input input-info text-base w-full rounded-xl border-gray-200 mb-2", placeholder: "例えをこちらに" %>
        <span class="text-sm pl-1 opacity-50">例：〇〇(単体)　〇〇の〇〇にそっくり！　〇〇に例えてみた！　</span>
      </div>
      <div class="mb-5">
        <%= f.label :reason, "理由・説明(任意)", class: "block text-sm font-medium text-gray-700 mb-3" %>
        <%= f.text_area :reason, class: "textarea textarea-info text-base w-full rounded-xl border-gray-200", placeholder: "例えた理由を教えて下さい" %>
      </div>
      <%= f.submit "更新", class: "w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-4 text-lg font-semibold rounded-xl shadow-lg", data: { turbo_submits_with: "更新中..." } %>
    </div>
  </div>
</div>
<% end %>
<% end %>