<% content_for(:title, @answer.body) %>
<% set_meta_tags(twitter: {image: ogp_image_topic_answer_url(@topic, @answer)})  %>
<% set_meta_tags("turbo-refresh-scroll": "preserve") %>
<div class="pt-5 pb-15 px-2">
  <div class="bg-white shadow-lg rounded-2xl w-full py-8 px-2 space-y-6">
    <div class="text-center mb-5">
      <h2 class="text-2xl font-bold text-gray-800">例え詳細</h2>
    </div>
    <!-- お題タイトルとジャンル -->
    <div>
      <div class="flex mb-3">
        <% @topic.genres.each do |genre| %>
        <span class="bg-[#E0F2FE] text-[#0369A1] text-xs px-2 py-1 rounded-full mr-1"><%= genre.name %></span>
        <% end %>
      </div>
      <div class="divide-y-2 divide-gray-200">
        <h2 class="text-xl font-medium text-gray-500 mb-3 pb-3"><%= @answer.topic.title %><h2>
      </div>
    </div>
    <!-- 例え情報(アバター、ユーザー名、公開日付) -->
    <div class="flex justify-between">
      <!-- アバター、ユーザー名 -->
      <div class="flex items-center space-x-2">
        <div class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
          <%= @answer.user.decorate.avatar_display? %>
        </div>
        <span class="text-lg text-gray-700"><%= @answer.user.name %></span>
      </div>
      <!-- 公開日付 -->
      <div>
        <span><%= l @answer.published_at %></span>
      </div>
    </div>
    <!-- 例え本文(例え、説明文) -->
    <div class="bg-gray-50 rounded-xl p-3 mb-3">
      <p class="text-gray-800 font-medium mb-2">💡 <%= @answer.body %></p>
      <% if @answer.reason.present? %>
      <p class="text-sm text-gray-600"><%= simple_format(@answer.reason) %></p>
      <% end %>
    </div>
    <!-- ボタン -->
    <div class="flex flex-wrap justify-end space-y-2">
      <% if current_user && current_user.own?(@answer) %>
      <!-- 編集ボタン -->
      <div class="flex space-x-1 ml-2">
        <%= button_to edit_topic_answer_path(topic_id: @answer.topic_id, id: @answer.id), method: :get, class: "btn btn-outline btn-info rounded-xl" do %>
        <span>編集</span>
        <% end %>
        <!-- 削除ボタン -->
        <%= button_to topic_answer_path(topic_id: @answer.topic_id, id: @answer.id),  method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"}, class: "btn btn-outline btn-error rounded-xl" do %>
        <span>削除</span>
        <% end %>
      </div>
      <!-- 本人以外の場合 -->
      <% else %>
      <% if user_signed_in? %>
      <div class="flex space-x-1 ml-2">
        <% @reactions.each do |reaction| %>
        <% if current_user.answer_reactions.exists?(answer_id: @answer.id, reaction_id: reaction.id) %>
        <%= render "answer_reactions/unanswer_reaction", answer: @answer, reaction: reaction %>
        <% else %>
        <%= render "answer_reactions/answer_reaction", answer: @answer, reaction: reaction %>
        <% end %>
        <% end %>
      </div>
      <% end %>
      <% end %>
      <!-- シェアボタン -->
      <%= link_to OgpCreatorService.x_share_encode(@answer), target: :_blank, rel: :noopener, class: "btn bg-black text-white border-black rounded-xl ml-2" do %>
      <svg aria-label=" X logo" width="16" height="12" viewBox="0 0 300 271" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z" />
      </svg>
      シェア！
      <% end %>
    </div>
    <!-- コメント入力フォーム(stimulus使用して動的に動作) -->
    <!-- サインイン時、入力フォームのボタン表示 -->
    <% if user_signed_in? %>
    <div data-controller="comment">
      <%= form_with model: [@topic, @answer, @new_comment], method: :post do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <button type="button" data-action="click->comment#appear" data-comment-target="form_button" class="w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-3 rounded-xl font-semibold">コメント投稿</button>
      <div data-comment-target="form" class="mt-5 hidden">
        <%= f.label :body, "コメント", class: "block text-base font-medium text-gray-700" %>
        <%= f.text_area :body, class: "textarea textarea-info text-base w-full rounded-xl border-gray-200 mt-1 mb-5", data: { comment_target: "body" } %>
        <%= f.submit "コメントを投稿", class: "w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-4 text-lg font-semibold rounded-xl shadow-lg" %>
      </div>
      <% end %>
    </div>
    <% else %>
    <%= link_to new_user_session_path(redirect_url: request.original_url), class: "w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-4 text-lg font-medium rounded-2xl shadow-lg flex flex-col items-center" do %>
    <div class="flex items-center justify-center">
      <div class="flex justify-center">
        <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
        <div class="flex flex-wrap">
          <span class="text-xl">コメント投稿</span>
        </div>
      </div>
    </div>
    <span class="text-sm">※ログイン画面に進みます</span>
    <% end %>
    <% end %>
    <!-- コメントタイトル(件数も表示) -->
    <%= turbo_frame_tag "comments_list" do %>
    <div class="flex justify-between items-center mb-5">
      <h2 class="text-2xl font-bold text-gray-800 ml-5">コメント</h2>
      <span class="text-gray-500">
        <%= "#{@comments.total_count}件" %>
    </div>
    <!-- 並び替えボタン -->
    <div class="flex justify-end space-x-2">
      <%= render 'answers/sort_buttons', sort_by: @sort_by %>
    </div>
    <!-- コメントコンポーネント -->
    <div class="bg-white py-6 border-b border-gray-100">
      <div class="mb-4">
        <%= turbo_frame_tag "comments-page-#{@comments.current_page}" do %>
        <%= render 'answers/comment', comments: @comments%>
        <%= turbo_frame_tag "comments-page-#{@comments.next_page}", loading: :lazy, src: path_to_next_page(@comments)  %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>