<% content_for(:title, @answer.body) %>
<% set_meta_tags(twitter: {image: ogp_image_topic_answer_url(@topic, @answer)})  %>
<% set_meta_tags("turbo-refresh-scroll": "preserve") %>
<div class="pt-5 pb-15 px-2">
  <div class="bg-white shadow-lg rounded-2xl w-full py-8 px-2 space-y-6">
    <div class="text-center mb-5">
      <h2 class="text-2xl font-bold text-gray-800">例え詳細</h2>
    </div>
    <!-- お題タイトルとジャンル -->
    <div>
      <div class="flex mb-3">
        <% @topic.genres.each do |genre| %>
        <span class="bg-[#E0F2FE] text-[#0369A1] text-xs px-2 py-1 rounded-full mr-1"><%= genre.name %></span>
        <% end %>
      </div>
      <div class="divide-y-2 divide-gray-200">
        <h2 class="text-xl font-medium text-gray-500 mb-3 pb-3"><%= @answer.topic.title %><h2>
      </div>
    </div>
    <!-- 例え情報(アバター、ユーザー名、公開日付) -->
    <%= render "shared/answer", answer: @answer %>
    <!-- コメント入力フォーム(stimulus使用して動的に動作) -->
    <!-- サインイン時、入力フォームのボタン表示 -->
    <% if user_signed_in? %>
    <div data-controller="comment">
      <%= form_with model: [@topic, @answer, @new_comment], method: :post do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <button type="button" data-action="click->comment#appear" data-comment-target="form_button" class="w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-3 rounded-xl font-semibold">コメント投稿</button>
      <div data-comment-target="form" class="mt-5 hidden">
        <%= f.label :body, "コメント", class: "block text-base font-medium text-gray-700" %>
        <%= f.text_area :body, class: "textarea textarea-info text-base w-full rounded-xl border-gray-200 mt-1 mb-5", data: { comment_target: "body" } %>
        <%= f.submit "コメントを投稿", class: "w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-4 text-lg font-semibold rounded-xl shadow-lg" %>
      </div>
      <% end %>
    </div>
    <% else %>
    <%= link_to new_user_session_path(redirect_url: request.original_url), class: "w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white py-4 text-lg font-medium rounded-2xl shadow-lg flex flex-col items-center" do %>
    <div class="flex items-center justify-center">
      <div class="flex justify-center">
        <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
        <div class="flex flex-wrap">
          <span class="text-xl">コメント投稿</span>
        </div>
      </div>
    </div>
    <span class="text-sm">※ログイン画面に進みます</span>
    <% end %>
    <% end %>
    <!-- コメントタイトル(件数も表示) -->
    <%= turbo_frame_tag "comments_list" do %>
    <div class="flex justify-between items-center mb-5">
      <h2 class="text-2xl font-bold text-gray-800 ml-5">コメント</h2>
      <span class="text-gray-500">
        <%= "#{@comments.total_count}件" %>
    </div>
    <!-- 並び替えボタン -->
    <div class="flex justify-end space-x-2">
      <%= render 'answers/sort_buttons', sort_by: @sort_by %>
    </div>
    <!-- コメントコンポーネント -->
    <div class="bg-white py-6 border-b border-gray-100">
      <div class="mb-4">
        <%= turbo_frame_tag "all-comments-page" do %>
        <%= render 'answers/comment', comments: @comments%>
        <% end %>
      </div>
      <% if path_to_next_page(@comments).present?%>
      <%= turbo_frame_tag "loading_indicator" do %>
      <div class="text-center pb-20" id=<%="loading_indicator_#{@comments.next_page}"%>>
        <span class="loading loading-spinner text-info loading-xl"></span>
      </div>
      <% end %> <%= turbo_frame_tag "comments-page-#{@comments.next_page}", loading: :lazy, src: topic_answer_path(@topic, @answer, format: :turbo_stream, page: @comments.next_page)  %> <% end %>
    </div>
    <% end %>
  </div>
</div>