<% if flash[:notice] %>
  <%= turbo_stream.replace dom_id(@answer) do %>
    <%= render partial: "shared/answer", object: @answer, locals: { comment_button: true } %>
  <% end %>
  <%= turbo_stream.replace "answer_#{@answer.id}_flash" do %>
    <div id=<%= "answer_#{@answer.id}_flash" %> class="mb-3">
      <div role="alert" class="alert alert-info flex justify-center py-2">
        <%= "下記の#{notice}" %>
      </div>
    </div>
  <% end %>
<% elsif flash[:alert] %>
  <%= turbo_stream.replace "error_message" do %>
    <div role="alert" class="alert alert-error mb-3" id="error_message">
      <ul class="mb-0">
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>