<% content_for(:title, "マイページ") %>
<%= render 'shared/error_messages', object: @user %>
<div class="pt-5 pb-15 px-2">
  <div class="bg-white shadow-lg rounded-2xl w-full py-8 space-y-6">
    <div class="text-center mb-5">
      <h2 class="text-2xl font-bold text-gray-800">マイページ</h2>
    </div>

    <div class="space-y-6">
      <div class="rounded-2xl border bg-card text-card-foreground shadow-lg bg-white border-0">
        <div class="flex flex-col space-y-1.5 p-6 pb-4">
          <h3 class="text-center text-lg font-semibold text-gray-800 tracking-tight">プロフィール</h3>
        </div>
        <div class="px-4 space-y-6">
          <div class="flex flex-col items-center space-y-3" data-controller="avatar-upload">
            <div class="relative">
              <div class="relative flex h-20 w-20 shrink-0 overflow-hidden rounded-full">
                <%= @user.decorate.avatar_display? %>
              </div>
              <%= form_with url: mypage_path, method: :patch, data: { "avatar_upload_target": "form" } do |f| %>
              <label class="absolute -bottom-1 -right-1 bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white p-2 rounded-full cursor-pointer shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
                  <path d="M14.5 4h-5L7 7H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3l-2.5-3z" />
                  <circle cx="12" cy="13" r="3" />
                </svg>
                <%= f.file_field :avatar, class: "hidden", data: { action: "change->avatar-upload#submitForm" } %>
              </label>
              <% end %>
            </div>
            <span class="text-sm text-gray-500 mb-1" data-avatar-upload-target="revision">画像をタップして変更</span>
            <span class="text-sm text-gray-500 mb-3">登録可能ファイル jpg jpeg png</span>
            <% if @user.avatar.present?%>
            <%= button_to "アバターリセット", mypage_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "アバターをリセットしますか？"}, class: "btn btn-error" %>
            <% end %>
          </div>
          <%= turbo_frame_tag "user_information" do %>
          <%= render "information", user: @user %>
          <% end %>
        </div>

        <div class=" rounded-2xl border bg-card text-card-foreground shadow-sm bg-white border-0">
          <div class="p-0">
            <div class="collapse collapse-arrow cursor-pointer">
              <input type="checkbox" class="flex items-center justify-between p-4 hover:bg-gray-50 rounded-t-2xl w-full cursor-pointer">
              <div class="flex items-center collapse-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5 text-[#A0D8EF] mr-3">
                  <line x1="8" x2="21" y1="6" y2="6" />
                  <line x1="8" x2="21" y1="12" y2="12" />
                  <line x1="8" x2="21" y1="18" y2="18" />
                  <line x1="3" x2="3.01" y1="6" y2="6" />
                  <line x1="3" x2="3.01" y1="12" y2="12" />
                  <line x1="3" x2="3.01" y1="18" y2="18" />
                </svg>
                <div>
                  <div class="font-medium text-gray-800">投稿したお題</div>
                  <div class="text-sm text-gray-500">
                    <span id="topics_size"><%=@topics.count %>件のお題</span>
                  </div>
                </div>
              </div>
              <div class="collapse-content">
                <% if @topics.present? %>
                <%= render partial: "topics/topic", collection: @topics %>
                <% else %>
                <p>まだお題は投稿していません。</p>
                <% end %>
              </div>
            </div>
            <div class="border-t border-gray-100"></div>
            <div class="collapse collapse-arrow cursor-pointer">
              <input type="checkbox" class="flex items-center justify-between p-4 hover:bg-gray-50 w-full cursor-pointer">
              <div class="flex items-center collapse-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5 text-green-600 mr-3">
                  <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" />
                </svg>
                <div>
                  <div class="font-medium text-gray-800">投稿した例え</div>
                  <div class="text-sm text-gray-500"><%= @answers.count%>件の例え
                  </div>
                </div>
              </div>
              <div class="collapse-content space-y-2">
                <% if @answers.present? %>
                <%= @answers.each do |answer| %>
                <div id="<%="topic_answer_#{answer.id}"%>" class="flex flex-wrap justify-between mt-2">
                  <div class="flex items-center space-x-2 space-y-1 justify-end">
                    <div class="h-8 w-8 overflow-hidden rounded-full">
                      <% if answer.topic.user.avatar.present? %>
                      <%= image_tag answer.topic.user.avatar.url, alt: "プロフィール画像", class: "aspect-square h-full w-full" %>
                      <% else %>
                      <span class=" flex h-full w-full items-center justify-center rounded-full bg-[#E0F2FE] text-[#0369A1] text-2xl"><%= answer.topic.user[:name][0] %></span>
                      <% end %>
                    </div>
                    <span class="text-base text-gray-500"><%= answer.topic.user.name %></span>
                  </div>
                  <span class="text-gray-500"><%= answer.topic.title %></span>
                  <%= render "shared/answer", answer: answer, topic: answer.topic, comment_button: true %>
                </div>
                <% end %>
                <% else %>
                <p>まだ回答は投稿していません。</p>
                <% end %>
              </div>
            </div>
            <div class="border-t border-gray-100"></div>

            <%= link_to users_edit_password_path, class: "flex items-center justify-between p-4 hover:bg-gray-50 rounded-b-2xl" do %>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5 text-orange-600 mr-3">
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />
                <path d="M7 11V7a5 5 0 0 1 10 0v4" />
              </svg>
              <div>
                <div class="font-medium text-gray-800">パスワードリセット</div>
                <div class="text-sm text-gray-500">パスワードを変更する</div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>