<div class="px-4 py-10">
  <div class="bg-white shadow-lg rounded-2xl w-full p-8 space-y-6">
    <div class="text-center mb-5">
      <h2 class=" text-2xl font-bold text-gray-800">ログイン</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mb-5">
      <%= f.label :email ,"メールアドレス", class: "block text-sm font-medium text-gray-700 mb-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-info w-full rounded-xl border-gray-200", placeholder: "tatoe@example.com"%>
    </div>

    <div class=" field mb-5">
      <%= f.label :password ,"パスワード", class: "block text-sm font-medium text-gray-700 mb-3 " %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input input-info w-full rounded-xl border-gray-200", placeholder: "password" %>
    </div>

    <div class="flex justify-end mb-5">
      <%= link_to "パスワードリセット後日実装", "#", class: "text-sm text-[#0369A1] hover:underline pointer-events-none" %>
      <%# リンクを無効化するためにpointer-events-noneを付与。パスワードリセット用リンクは_links.html.erbに記述%>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn w-full bg-[#A0D8EF] hover:bg-[#7CC7E8] text-white font-semibold rounded-xl" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>