<!DOCTYPE html>
<html data-theme="light">

<head>
  <title><%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= display_meta_tags(default_meta_tags) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDHY9G0HPQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-DDHY9G0HPQ');
  </script>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">

  <link rel="icon" href="/Tatoe_v1.0.png" type="image/png">
  <link rel="icon" href="/Tatoe_favicon.ico" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/Tatoe_v1.0.png">
  <%= favicon_link_tag("Tatoe_v1-1.1.ico") %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="min-h-screen ">

  <%= render 'shared/header' %>
  <main class="bg-white h-screen">
    <div class="w-full h-full pb-20 max-w-2xl mx-auto bg-[#FAFAFA]">
      <% if flash[:notice] %>
      <div role="alert" class="alert alert-info">
        <%= notice %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div role="alert" class="alert alert-error">
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <%= render'shared/footer' %>
</body>

</html>