<!DOCTYPE html>
<html data-theme="light">

<head>
  <title><%= content_for(:title) || "Tatoe - 例えでつながる共感アプリ" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">

  <link rel="icon" href="/Tatoe_v1.0.png" type="image/png">
  <link rel="icon" href="/Tatoe_favicon.ico" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/Tatoe_v1.0.png">
  <%= favicon_link_tag("Tatoe_v1-1.1.ico") %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="min-h-screen ">

  <%= render 'shared/header' %>
  <main class="bg-white">
    <div class="w-full pb-20 max-w-2xl mx-auto bg-[#FAFAFA]">
      <% if flash[:notice] %>
      <div role="alert" class="alert alert-info">
        <%= notice %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div role="alert" class="alert alert-error">
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <%= render'shared/footer' %>
</body>

</html>